---
title: My CV
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="{{'/assets/css/main.css' | absolute_url}}">
    <link rel="shortcut icon" type="image/png" href="/favicon.png"/>
    <!-- <link rel="stylesheet" href="{{'/assets/css/mode.css' | absolute_url}}"> -->

    <title>CV</title>
</head>
<body>
    <div class="intoduction">
        {% include name_img.html %}
    </div>
    <div>
        {% include education.html %}
    </div>
    <br>

</body>
</html>